.About-Page {
    color: #294c60;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
    font-size: 2rem;
}

.About-body {
    margin: auto;
    width: 50%;
    padding: auto;
}

p2 {
    font-size: 4rem;
    font-weight: 350;
    color: #294c60;
}

h1 {
    margin: 0;
    padding: 0 0 100px;
    text-align: center;
    font-size: 22px;
  }
  
  