body{
  background: #d7c9aa;
}

.navbar-custom {
  background-color: #294c60;
}

.login {
  border-radius: 10px;
  background-color: #294c60;
  color: white;
}

.header{ 
  background: rgba(0,0,0,0.5);
  height: 57px;
  text-align: left;
  padding-left:0.5%;
}

.header h3{
  padding-top: 15px;
  font-size: 20px;
  color: #fff;
}

.loginBox{
  width:500px;
  height: 600px;
  background: rgba(0,0,0,0.7);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-70%) ;
  box-sizing: border-box;
  padding: 70px 150px;

}

h1{
  margin:0;
  padding:0 0 100px;
  text-align: center;
  font-size: 22px;
}

.loginBox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-align: left;

}
.loginBox input{
  width: 110%;
  margin-bottom: 30px;

}
.loginBox input[type="text"], input[type="password"]{
  border: none;
  border-bottom:1px solid #fff;
  background:transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size:13px;
}
.loginBox input[type="submit"]{
  border:None;
  outline:None;
  height:40px;
  background:#294c60;
  color: #fff;
  border-radius: 10px;
}

.loginBox input[type="checkbox"]{
  width: 15px;
  height: 15px;
}








