body {
  background: #d7c9aa;
}

.navbar-custom {
  background-color: #294c60;
}

.login {
  background-color: #294c60;
  color: white;
}

p1 {
  color: #294c60;
  font-size: 2rem;
  font-weight: 400;
  line-height: 4rem;
  margin-bottom: 5rem;
  padding: 50px;
  text-align: center;
}

p2 {
  color: #294c60;
  font-weight: 500;
  font-size: 2rem;
  line-height: 5rem;
}

h1 {
  color: #294c60;
  padding: 50px;

}

h3 {
  color: black;
  padding: 20px;
}

.center {
  float: none;
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: large;
}

