body {
  background: #d7c9aa;
}

.navbar-custom {
  background-color: #294c60;
}

.login {
  background-color: #294c60;
  color: white;
}

p1 {
  color: #294c60;
  font-size: 2rem;
  font-weight: 500;
  line-height: 5rem;
  margin-bottom: 5rem;
  padding: 50px;
}

.top-align {
  vertical-align: top;
}