.profilepic {
    margin-right: 6px;
    vertical-align: top;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border: 10px rgb(0, 0, 0);
    -webkit-transform: translateZ(0);
}
  
.profile_settings_positioning {
    // height: 200px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    width: 500px;
    margin: 0 auto;
}

.profile_body {
    grid-column: 1/3;
    grid-row: 1;
    margin: 50px;
}
  
.profile_pic_position {
    margin-left: 101px;
    margin-bottom: 10px;
    position: relative;
    height: 86px;
    width: 86px;
    display: block;
}
  
.profile_pic_changer {
    background: #fff;
    bottom: 0;
    position: absolute;
    right: 0;
    overflow: visible;
    height: 30px;
    width: 30px;
}
  
.changer_button {
    bottom: 0;
    margin: 0px 2.5px 3px;
    outline: 0;
    position: absolute;
    right: 0;
    height: 26px;
    width: 23px;
}
  
.small_changer {
    color: black;
    fill: currentColor;
}
  
.downarrow {
    position: relative; 
    left: -5px; 
    top: -2px;
}