@mixin picture-location{
   display: flex;
   justify-content: center;
   align-items: center;
  
}

  .spotify_pfp {
    color: transparent;
    transition: all .3s ease;
    position: relative;
    transition: all .3s ease;
    @include picture-location;
  
    input {
      display: none;

    }

    .spot_profile {
      position: absolute;
      object-fit: cover;
      width: 200px;
      height: 200px;
      box-shadow: 0 0 10px 0 rgba(255, 255, 255, .35);
      z-index: 0;
      border-radius: 50%;
      border: 4px solid #294c60;
      top: 20px;
      left: 20px;
      margin: 20px;
    }

    .-label {
      cursor: pointer;
      height: 200px;
      width: 200px;
      left: 20px;
      top: 20px;
      margin: 20px;
    }

    &:hover {
      .-label {
        background-color: rgba(0,0,0,.8);
        z-index: 10000;
        color: white;
        transition: background-color .2s ease-in-out;
        border-radius: 50%;
        margin-bottom: 0;
        top: 20px;
        left: 20px;
        
      }
    }

    span {
      display: inline-flex;
      padding: .2em;
      height: 2em;
      
    }
  }


.profile_text {
  color: #294c60;
  font-size: 25;
  position: relative;
  // left: 253px;
  // top: -219px;
  text-align: left;
}

.username_text {
  color: #294c60;
  font-size: 61;
  position: relative;
  // left: 253px;
  // top: -241px;
  text-align: left;
}

.first_name_text {
  color: #294c60;
  font-size: 18;
  position: relative;
  // left: 253px;
  // top: -255px;
}

.last_name_text {
  color: #294c60;
  font-size: 18;
  position: relative;
  // left: 346px;
  // top: -298px;
}

.email_text {
  color: #294c60;
  font-size: 18;
  position: relative;
  // left: 253px;
  // top: -315px;
}

.profile_points {
  color: #294c60;
  font-size: 30;
  position: relative;
  // left: 253px;
  // top: -300px;
}

.profile_modal {
  color: black;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

}

.profile_details_edit {
  color: #282828;
  border-radius: 8px;
  color: white;
  flex-direction: column;
  min-height: 384px;
  width: 524px;
}

.edit_bio_box {
  display: flex;
}

.modal_pic {
  height: 100%;
  width: 100%;
}

.modal_pic_current {
  height: 180;
  width: 180;
  position: relative;
  margin: 0;
  border-radius: 50%;
}

.profile_modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;

}

