.footer {
  text-align: center;
  padding: 10;
  background-color: black;
  opacity:0.8;
  color: white;
  position: fixed;
  height: 25px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}
