.footer {
  // text-align: center;
  // position: absolute;
  // opacity: 0.8;
  // height: 25px;
  // bottom: 0px;
  // left: 0px;
  // right: 0px;
  // margin-bottom: 0px;
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  bottom: 0;
}
