.login_pos {
  padding-top: 10%;
  height: 90vh;
  width: 500px;
  margin: 0 auto;
}

.body {
  height: 90vh;
}

.About-Header {
  text-align: center;
}

.About-Page {
  color: #294c60;
  padding: 10px 20px;
  width: 60%;
  border: none;
  outline: none;
  margin: auto;
  font-size: 2rem;
  text-align: center;
}

.About-Body {
  margin: auto;
  width: 50%;
  padding: auto;
}

.register_body {
  height: 90vh;
}

.register_positioning {
  width: 500px;
  margin: 0 auto;
}

.text-center {
  color: #294c60;
  position: relative;
  left: 125px;
  top: -6px;
}

.labels {
  color: #294c60;
}

.register-button {
  margin: 5px;
  position: relative;
  left: -130px;
  top: -5px;
}

.welcome-msg {
  color: #294c60;
  text-align: center;
}

.profile_pic {
  border-radius: 50%;
  border: 5px solid #294c60;
  height: 200px;
  width: 200px;
  margin: 20px;
  position: relative;
}

.username_text {
  color: #294c60;
  position: relative;
  font-size: 61;
  left: 252px;
  top: -219px;
  padding: 2px;
}

.email_text {
  color: #294c60;
  position: relative;
  font-size: 25;
  left: 253px;
  top: -185px;
}

.profile_points {
  color: #294c60;
  font-size: 50;
  position: relative;
  left: 253px;
  top: -165px;
}

.history_table {
  color: #294c60;
  position: relative;
  border: 2px solid #294c60;
  overflow: auto;
  width: 99.5%;
  left: 5px;
  top: -145px;
  padding: 10px;
}

.container-home {
  width: 100vw;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 250px 50px 1fr;
  box-sizing: border-box;
}

.Logo-Container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-content: center;
  align-items: center;
}

.Logo {
  width: 827.45px;
  height: 296px;
}

.Search-Bar {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.search-button {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.AdvSearch-button {
  padding-top: 2%;
}

.error-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.error-home-button {
  display: grid;
  justify-content: center;
  margin: auto;
  padding: 10px;
}

.profile-body {
  height: 90vh;
}

.profile_positioning {
  width: 500px;
  margin: 0 auto;
  padding: 10px;
}

.profile-title {
  text-align: center;
  color: #294c60;
}

.profile-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.save-button {
  margin: 10px;
  position: relative;
  top: -5px;
  left: -130px;
}

.cancel-button {
  margin: 10px;
  position: relative;
  top: -5px;
  left: -120px;
}

.info-body {
  overflow: auto;
}

.container {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr 100px 100px;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
}

.container div {
  padding: 5px;
  border: 1px solid #294c60;
  /* set to 'none' to get rid of the border*/
  overflow: hidden;
}

.info-header {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  overflow: auto;
}

.charity-desc {
  grid-row-start: 2;
  grid-row-end: span 2;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  overflow: auto;
}

.desc-content {
  text-align: left;
  border: none;
  overflow: auto;
}

.charity-relevant {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: center;
  overflow: auto;
}

.charity-reviews {
  text-align: center;
  overflow: auto;
  grid-row-start: 4;
  grid-row-end: span 3;
  grid-column-start: 1;
  grid-column-end: 4;
}

.results-body {
  overflow: auto;
}

.results-container {
  width: 100vw;
  height: 88vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.results-container div {
  padding: 10px;
  border: 1px solid #294c60;
}

.searched-element {
  grid-column-start: 1;
  grid-column-end: span 4;
  text-align: center;
}

.searched-results {
  grid-row-start: 2;
  grid-row-end: span 2;
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: center;
}

.result-1 {
  text-align: left;
  list-style-type: circle;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  bottom: 0;
}

.color-nav {
  background-color: #dd0a0a;
}

.active {
  display: none;
}

.timeBox {
  width: 150px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

/*# sourceMappingURL=main.css.map */
