.login_pos {
  padding-top: 10%;
  height: 90vh;
  width: 500px;
  margin: 0 auto;
}

.about-pad {
  padding: 5%;
}

.about-body {
  min-height: 80vh;
}

.register_body {
  height: 90vh;
}

.register_positioning {
  width: 500px;
  margin: 0 auto;
}

.text-center {
  color: #294c60;
  position: relative;
  left: 125px;
  top: -6px;
}

.labels {
  color: #294c60;
}

.register-button {
  margin: 5px;
  position: relative;
  left: -130px;
  top: -5px;
}

.welcome-msg {
  color: #294c60;
  text-align: center;
}

.profile_pic {
  border-radius: 50%;
  border: 5px solid #294c60;
  height: 200px;
  width: 200px;
  margin: 20px;
  position: relative;
}

.username_text {
  color: #294c60;
  position: relative;
  font-size: 61;
  left: 252px;
  top: -219px;
  padding: 2px;
}

.email_text {
  color: #294c60;
  position: relative;
  font-size: 25;
  left: 253px;
  top: -185px;
}

.profile_points {
  color: #294c60;
  font-size: 50;
  position: relative;
  left: 253px;
  top: -165px;
}

.history_table {
  color: #294c60;
  position: relative;
  border: 2px solid #294c60;
  overflow: auto;
  width: 99.5%;
  left: 5px;
  top: -145px;
  padding: 10px;
}

.home-body {
  min-height: 80vh;
}

.AdvSearch-button {
  padding-top: 2%;
}

.error-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.error-home-button {
  display: grid;
  justify-content: center;
  margin: auto;
  padding: 10px;
}

.profile-body {
  height: 90vh;
}

.profile_positioning {
  width: 500px;
  margin: 0 auto;
  padding: 10px;
}

.profile-title {
  text-align: center;
  color: #294c60;
}

.profile-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.save-button {
  margin: 10px;
  position: relative;
  top: -5px;
  left: -130px;
}

.cancel-button {
  margin: 10px;
  position: relative;
  top: -5px;
  left: -120px;
}

.info-body {
  text-align: center;
  min-height: 100vh;
}

.container {
  padding-bottom: 2rem;
}

.desc-who {
  border: 2px solid green;
  padding: 15px;
  border-radius: 15px 50px;
  transition: transform 0.2s;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
}

.desc-type {
  border: 2px solid green;
  padding: 10px;
  margin-top: 20px;
  border-radius: 15px 50px;
  transition: transform 0.2s;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
}

.desc-hours {
  border: 2px solid green;
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px 50px;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
}

.desc-where {
  border: 2px solid green;
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px 50px;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
}

.desc-location {
  border: 2px solid green;
  padding: 20px;
  margin-top: 15px;
  border-radius: 15px 50px;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
}

.charity-reviews {
  border: 2px solid green;
  padding: 20px;
  margin-top: 15px;
  border-radius: 15px 50px;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
}

.desc-who:hover {
  transform: scale(1.02);
}

.desc-type:hover {
  transform: scale(1.02);
}

.desc-hours:hover {
  transform: scale(1.02);
}

.desc-where:hover {
  transform: scale(1.02);
}

.desc-location:hover {
  transform: scale(1.02);
}

.charity-reviews:hover {
  transform: scale(1.02);
}

.results-search-bar {
  padding: 20px;
}

.results-container {
  width: 99vw;
  min-height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.results-container div {
  padding: 10px;
}

.search-bar {
  grid-column-start: 1;
  grid-column-end: span 4;
  text-align: center;
}

.searched-results {
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: left;
  text-decoration-color: black;
}

.result-link {
  list-style: none;
  color: #0000ee;
  padding-top: 1rem;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #0000ee;
}

.footer {
  padding-top: 1rem;
  text-align: center;
}

.color-nav {
  background-color: #dd0a0a;
}

.active {
  display: none;
}

.btn:focus {
  /* the !important is really the key here, it overrides everything else */
  outline: none !important;
  box-shadow: none !important;
}

/*# sourceMappingURL=main.css.map */
