.body {
  height: 90vh;
}

.About-Header {
  text-align: center;
}

.About-Page {
  color: #294c60;
  padding: 10px 20px;
  width: 60%;
  border: none;
  outline: none;
  margin: auto;
  font-size: 2rem;
  text-align: center;
}

.About-Body {
  margin: auto;
  width: 50%;
  padding: auto;
}
