.container-home {
  width: 100vw;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 250px 50px 1fr;
  box-sizing: border-box;
}

.Logo-Container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-content: center;
  align-items: center;
}

.Logo {
  width: 827.45px;
  height: 296px;
}

.Search-Bar {
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 3;
  grid-row-end: 4;
  
}

.search-button {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;

}

.AdvSearch-button {
  // grid-column-start: 2;
  // grid-column-end: 3;
  // grid-row-start: 4;
  // grid-row-end: span 4;
  // top: 0px;
  padding-top: 2%;
}
