.info-body {
  text-align: center;
  min-height: 100vh;
}
.container {
  padding-bottom: 2rem;
}

.desc-who {
  border: 2px solid green;
  padding: 15px;
  border-radius: 15px 50px;
  transition: transform 0.2s;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
}
.desc-type {
  border: 2px solid green;
  padding: 10px;
  margin-top: 20px;
  border-radius: 15px 50px;
  transition: transform 0.2s;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
}
.desc-hours {
  border: 2px solid green;
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px 50px;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
}
.desc-where {
  border: 2px solid green;
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px 50px;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
}
.desc-location {
  border: 2px solid green;
  padding: 20px;
  margin-top: 15px;
  border-radius: 15px 50px;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;

}
.charity-reviews {
  border: 2px solid green;
  padding: 20px;
  margin-top: 15px;
  border-radius: 15px 50px;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
}

.desc-who:hover {
  transform: scale(1.02);
}
.desc-type:hover {
  transform: scale(1.02);
}
.desc-hours:hover {
  transform: scale(1.02);
}
.desc-where:hover {
  transform: scale(1.02);
}
.desc-location:hover {
  transform: scale(1.02);
}
.charity-reviews:hover {
  transform: scale(1.02);
}
