.border {
  border-style: solid;
  border-width: 2px;
  width: 500px;
}

.profile {
  border-style: dotted;
  border-width: 2px;
  border-color: Red;
  width: 500px;
}

.space {
  margin-top: 5%;
}

.footer {
  text-align: center;
  padding: 10;
  background-color: #294c60;
  color: white;
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}
